---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  boost-use-to-string,
  bugprone-*,
  cert-dcl03-c,
  cert-dcl21-cpp,
  cert-dcl58-cpp,
  cert-env33-c,
  cert-err52-cpp,
  cert-err58-cpp,
  cert-err60-cpp,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-slicing,
  fuchsia-multiple-inheritance,
  fuchsia-virtual-inheritance,
  google-build-namespaces,
  google-default-arguments,
  google-global-names-in-headers,
  google-readability-casting,
  google-readability-todo,
  google-runtime-int,
  google-runtime-operator,
  google-runtime-references,
  hicpp-exception-baseclass,
  hicpp-multiway-paths-covered,
  hicpp-no-assembler,
  hicpp-signed-bitwise,
  llvm-include-order,
  llvm-namespace-comment,
  misc-definitions-in-headers,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-noexcept-move-constructor,
  misc-non-copyable-objects,
  misc-redundant-expression,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  misc-unused-alias-decls,
  misc-unused-parameters,
  misc-unused-using-decls,
  modernize-avoid-bind,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-replace-auto-ptr,
  modernize-replace-random-shuffle,
  modernize-return-braced-init-list,
  modernize-shrink-to-fit,
  modernize-unary-static-assert,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-transparent-functors,
  modernize-use-using,
  mpi-*,
  performance-faster-string-find,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-noexcept-move-constructor,
  performance-type-promotion-in-math-fn,
  performance-unnecessary-copy-initialization,
  portability-simd-intrinsics,
  readability-avoid-const-params-in-decls,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-deleted-default,
  readability-else-after-return,
  readability-function-size,
  readability-identifier-naming,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-named-parameter,
  readability-non-const-parameter,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-accessed-through-instance,
  readability-static-definition-in-anonymous-namespace,
  readability-string-compare,
  readability-uniqueptr-delete-release
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
User: csiro
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: '1'
  - key: bugprone-misplaced-widening-cast.CheckImplicitCasts
    value: '1'
  - key: performance-move-constructor-init.IncludeStyle
    value: 'llvm'
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: '1'
  - key: google-runtime-int.TypeSuffix
    value: '_t'
  - key: modernize-use-default-member-init.UseAssignment
    value: '1'
  - key:  readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key:  readability-identifier-naming.ClassCase
    value: CamelCase
  - key:  readability-identifier-naming.ClassConstantCase
    value: CamelCase
  - key:  readability-identifier-naming.ClassConstantPrefix
    value: 'k'
  - key:  readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key:  readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key:  readability-identifier-naming.ConstantCase
    value: CamelCase
  - key:  readability-identifier-naming.ConstantPrefix
    value: 'k'
  - key:  readability-identifier-naming.ConstexprFunctionCase
    value: camelBack
  - key:  readability-identifier-naming.ConstexprMethodCase
    value: camelBack
  - key:  readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key:  readability-identifier-naming.EnumCase
    value: CamelCase
  - key:  readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key:  readability-identifier-naming.EnumConstantPrefix
    value: 'k'
  - key:  readability-identifier-naming.FunctionCase
    value: camelBack
  - key:  readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key:  readability-identifier-naming.GlobalConstantPrefix
    value: 'k'
  - key:  readability-identifier-naming.GlobalFunctionCase
    value: camelBack
  - key:  readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key:  readability-identifier-naming.InlineNamespaceCase
    value: camelBack
  - key:  readability-identifier-naming.LocalConstantCase
    value: CamelCase
  - key:  readability-identifier-naming.LocalConstantPrefix
    value: 'k'
  - key:  readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key:  readability-identifier-naming.MemberCase
    value: lower_case
  - key:  readability-identifier-naming.ConstantMemberCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantMemberPrefix
    value: 'k'
  - key:  readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key:  readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key:  readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key:  readability-identifier-naming.ProtectedMemberSuffix
    value: '_'
  - key:  readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key:  readability-identifier-naming.MethodCase
    value: camelBack
  - key:  readability-identifier-naming.NamespaceCase
    value: camelBack
  - key:  readability-identifier-naming.ParameterCase
    value: lower_case
  - key:  readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key:  readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key:  readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key:  readability-identifier-naming.StaticVariablePrefix
    value: 's_'
  - key:  readability-identifier-naming.StructCase
    value: CamelCase
  - key:  readability-identifier-naming.TemplateParameterCase
    value: UPPER_CASE
  - key:  readability-identifier-naming.TemplateTemplateParameterCase
    value: UPPER_CASE
  - key:  readability-identifier-naming.TemplateUsingCase
    value: CamelCase
  - key:  readability-identifier-naming.TypeTemplateParameterCase
    value: UPPER_CASE
  - key:  readability-identifier-naming.TypedefCase
    value: CamelCase
  - key:  readability-identifier-naming.UnionCase
    value: CamelCase
  - key:  readability-identifier-naming.UsingCase
    value: CamelCase
  - key:  readability-identifier-naming.ValueTemplateParameterCase
    value: camelBack
  - key:  readability-identifier-naming.VariableCase
    value: lower_case
  - key:  readability-identifier-naming.IgnoreFailedSplit
    value: '0'


# Note: add // NOLINT to disable clang-tidy for a line.

# Items for review:
  # cert-dcl50-cpp, # Don't declare C style variadic functions
  # modernize-use-uncaught-exceptions, # Not until C++17
#  cert-dcl50-cpp, # Don't declare C style variadic functions
# cert-err34-c, # Check use of unchecked str to int such as atoi
# cert-flp30-c, # Don't use float as for loop variables
# google-build-using-namespace # Do not allow "using namespace foo" anywhere! Prefer shortenning
# google-explicit-constructor # require single argument constructors to use explicit
# modernize-use-auto, # Enabled only for long types. Intended to catch iterators.
#   modernize-use-auto.MinTypeNameLength = 10
# readability-implicit-bool-conversion # if (ptr) => if (ptr != nullptr)

# Items to avoid:
# - cppcoreguidelines-owning-memory # requires all pointer allocations to be wrapped.

# Other potentially needed options
#  - key: bugprone-dangling-handle.HandleClasses
#    value: 'std::experimental::basic_string_view'
...
